/* common styles  */
/* inter font styles */
* {
    margin: 0px;
    padding: 0px;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Raleway font styles  */

.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: #F5F8FF;

}

.text-primary {
    color: #4E47FF;
}

.btn-primary {
    background-color: #4E47FF;
    color: white;
    font-weight: 700;
    padding: 12px 36px;
    border-radius: 10px;
    border: 0px;
}

/* btn hover  */
.btn-primary:hover {
    background-color: goldenrod;
    color: black;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.section-title {
    color: #252432;
    font-size: 42px;
    font-weight: 700;
}

/* banner styles  */
header {
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* navbar styles */
nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 140px;
}

.nav-title {
    font-size: 34px;
    font-weight: 900;
}

/* banner title styles  */
.banner-title {
    color: #252432;
    font-size: 65px;
    font-weight: 700;
    margin-top: 158px;
    margin-bottom: 47px;
}

.banner-btn {
    margin-bottom: 200px;
}

/* main styles  */

main {
    /* max-width: 1140px; */
    width: 80%;
    margin: 0 auto;
}

/* action section styles  */
.action-container {
    display: flex;
    justify-content: space-between;
    gap: 220px;
    margin-top: 116px;
    align-items: center;
}

.action-container img {
    border-radius: 48px;
    width: 403px;
    height: 328px;
}

.action-description {
    color: rgba(37, 36, 50, 0.50);
    font-size: 24px;
    margin: 23px 0px;
}

/* product user section styles  */
.productive-user-section {
    background-color: rgba(78, 71, 255, 0.10);
    border-radius: 24px;
    padding: 50px 80px;
    margin-top: 116px;

}

.product-users-container {
    display: flex;
    justify-content: center;
    gap: 158px;
    margin-top: 40px;

}

.product-user-num {
    font-size: 80px;
    font-weight: 700;
}

.product-user-description {
    color: rgba(0, 0, 0, 0.50);
    font-size: 20px;
}

/* review section styles  */
.review-section {
    margin-top: 137px;
}

.review-container {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.review-card {
    border: 1px solid #F2EDED;
    background-color: rgba(255, 255, 255, 0.50);
    border-radius: 14px;
    padding: 24px;
    text-align: left;
}

.card-title {
    margin-top: 24px;
    margin-bottom: 10px;
}

.card-info {
    color: #1E1E1E;
}

.review-info-container {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 24px;

}

.review-info-container img {
    border-radius: 50%;
}

.review-nam {
    color: #757575;
}

.review-date {
    color: #B3B3B3;
    margin-top: 5px;
}

/* focus section styles  */
.focus-section {
    margin-top: 137px;
    background-color: #FFF;
    border-radius: 14px;
    padding: 70px 150px;
}

.focus-title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

.focus-description {
    color: rgba(0, 0, 0, 0.50);
    margin-bottom: 20px;
}

.focus-img img {
    border-radius: 48px;
    margin-top: 20px;
}

/* news letter section styles */
.news-letter-section {
    margin-top: 160px;
    display: flex;
    align-items: center;
    gap: 110px;
}

.news-title {
    width: 100%;
    font-size: 97px;
    font-weight: 700;
}

.news-letter-section form label {
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

.news-form {
    width: 630px;
}

/* input[type="text"],
input[type="email"],
input[type="submit"], */
input,
textarea {

    width: 100%;
    padding: 20px 30px;
    border: 1px solid #D6DDED;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.50);
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}


.submit-btn {
    text-align: center;
    width: 110%;
    padding: 20px 30px;
}

/* footer styles */
footer {
    background-color: #FFF;
    margin-top: 85px;
    padding: 100px 450px;
}

.footer-title {
    font-size: 100px;
    font-weight: 900;
}

.footer-description {
    color: #8987A1;
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer-share-link a {
    color: #8987A1;
    margin-right: 48px;
    text-decoration: none;
}